<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F38C21;"></span>
		<span class="sg-label">#F38C21</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e1790c;"></span>
		<span class="sg-label">#E1790C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #222222;"></span>
		<span class="sg-label">#222222</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">#666666</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999999;"></span>
		<span class="sg-label">#999999</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #A7A7A7;"></span>
		<span class="sg-label">#A7A7A7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#FFFFFF</span>
	</li>
</ul>

